@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    background-color: #EEEEEE;
}

                                                                                /* navbar */
.navbar {
    padding: 2rem 1rem 0.5rem 1rem;
    background: #4DC2CA;
    margin: 0 1rem;
    text-align: center;
}

.logo {
    font-size: 32px;
    font-weight: 700;
    color: #ffff;
}

.navbar .menu {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.menu a {   
    color: #ffff;
    opacity: 0.8;
    transition: all 0.3s ease;
}

.menu a:hover {
    opacity: 1;
}

                                                                                /* form */
.form {
    background: #C1E6E9;
    margin: 0 1rem;
}

.form div {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

form label {
    text-align: center;
}

input, select {
    margin: 0 1rem;
    height: 40px;
    padding: 0.5rem 0;
    border-radius: 5px;
    border: none;
    text-align: center;
}

button {
    height: 40px;
    border: none;
    border-radius: 5px;
    margin: 1rem;
    width: calc(100% - 2rem);
    background-color: #5F9EA0;
    transition: all 0.5s ease;
}

button:hover {
    background-color: transparent;
    border: 1px solid #5F9EA0;
    transform: scale(1.2);
    box-shadow: 2px 2px 10px;
    color: #5F9EA0;
}

.browse {
    padding: 2rem 1rem 0.5rem 1rem;
}

.browse h2 {
    text-align: left;
    margin-bottom: 2rem;
}

                                                                                    /* footer styling */
.footer-col ul {
    text-align: center;
}


a {
    color: #25252A;
}

li {
    list-style-type: none;
}

footer {
    text-align: center;
    padding: 1rem;
}

footer h2 {
    margin-bottom: 2.5rem;
    text-align: left;
}

.footer-col li {
    padding: 0.5rem 0;
}

.footer-col a {
    opacity: 0.6;
    transition: all 0.3s ease;
}

.footer-col a:hover {
    opacity: 1;
}

@media screen and (min-width: 768px) {
    footer {
        padding: 1rem 4rem;
    }
    
    .footer-col {
        display: flex;
        justify-content: space-around;
    }
}


@media screen and (min-width: 768px){
    .navbar {
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar .menu {
        margin-top: 0;
        align-items: center;
    }

    .menu li {
        margin-left: 2rem;
    }

    form {
        display: flex;  
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    form label {
        margin: 0 1rem;
    }

    select {
        margin-top: 1.48rem;
    }

    button {
        margin-top: 3.48rem;
        width: unset;
        padding: 0 1rem;
    }

                                                                                /* index page */
    .hotel {
        flex-direction: row;
        padding: 0.5rem;
    }

    .hotel__image {
        flex: 1;
        margin: 1em;
    }

    .hotel__details {
        flex: 1;
        padding: 1em;
        text-align: left;
    }

                                                                                /* Hotel view */
    .hotel__selected {
        flex-direction: row;
    }

    .hotel__section h2 {
        text-align: center;
        margin-bottom: 0.5rem;
    }

    .hotel__selected__image {
        flex: 1;
        margin: auto 1em;
    }

    .hotel__selected__details {
        display: flex;
        justify-content: space-evenly;
    }

    .hotel__info {
        flex: 1;
        padding: 1em;
    }
}